.top-padding {
padding-top:2rem;
}
.topbar {
padding: 1rem;
font-size: 3vw;
text-decoration:none;
}
.center {
text-align:center
}
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
.overflow {
overflow:visible;
}
.front {
font-size:3rem;
font-weight:bolder;
padding-top:3rem
}
.subtitle{
font-size:1.5rem;
color:black;
text-decoration:none;
}  
.topbar {
padding: 1rem;
font-size: 2rem;
text-decoration:none;
}
.center {
text-align:center
}
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
.overflow {
overflow:visible;
}
.letter-space {
letter-spacing: -1.5rem;
color:black;
font-weight:bolder
} 
.center {
text-align:center
}
.front {
font-size:3rem;
font-weight:bolder;
padding-top:3rem
}
.top-padding {
padding-top:2rem;
}
.subtitle{
font-size:1.5rem;
color:black;
text-decoration:none;
}
.dropbtn {
background-color: #4CAF50;
color: white;
padding: 10px;
border: none;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
background-color: #f2f2f2;
}
.dropdown:hover .dropdown-content {
display: block;
}
.errorcolor {
color:#ff0000
}
.topbar {
padding: 1rem;
font-size: 2rem;
text-decoration:none;
}
.center {
text-align:center
}
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
.overflow {
overflow:visible;
}
.letter-space {
letter-spacing: -0.5rem;
color:black;
font-weight:bolder
} 
.front {
font-size:3rem;
font-weight:bolder;
padding-top:3rem
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.moveusername {
position: absolute;
bottom: 20%;
left: 50%;
}
.center {
text-align:center
}
.front {
font-size:3rem;
font-weight:bolder;
padding-top:3rem
}
.top-padding {
padding-top:2rem;
}
.subtitle{
font-size:1.5rem;
color:black;
text-decoration:none;
}
.dropbtn {
background-color: #4CAF50;
color: white;
padding: 10px;
border: none;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
background-color: #f2f2f2;
}
.dropdown:hover .dropdown-content {
display: block;
}
.errorcolor {
color:#ff0000
}
.topbar {
padding: 1rem;
font-size: 2rem;
text-decoration:none;
}
.center {
text-align:center
}
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
.overflow {
overflow:visible;
}
.letter-space {
letter-spacing: -0.5rem;
color:black;
font-weight:bolder
} 
.front {
font-size:3rem;
font-weight:bolder;
padding-top:3rem
}
.topbar {
padding: 1rem;
font-size: 2rem;
text-decoration:none;
}
.center {
text-align:center
}
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
.overflow {
overflow:visible;
}
.letter-space {
letter-spacing: -0.5rem;
color:black;
font-weight:bolder
} 
.front {
font-size:2rem;
font-weight:bolder;
padding-top:2rem
}
.row-spacing {
height:4rem;
}
.topbar {
padding: 1rem;
font-size: 2rem;
text-decoration:none;
}
.center {
text-align:center

}
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
.overflow {
overflow:visible;
}
.letter-space {
letter-spacing: -1.5rem;
color:black;
font-weight:bolder
} 
.day-height {
height:150px
}
.elements-height {
height:50px
}
.top-padding {
padding-top:2rem;
}
.topbar {
padding: 1rem;
font-size: 2rem;
text-decoration:none;
}
.center {
text-align:center
}
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
.overflow {
overflow:visible;
}
.letter-space {
letter-spacing: -0.5rem;
color:black;
font-weight:bolder
} 
.front {
font-size:3rem;
font-weight:bolder;
padding-top:3rem
}
.subtitle{
font-size:1.5rem;
color:black;
text-decoration:none;
}