
.topbar {
padding: 1rem;
font-size: 3vw;
text-decoration:none;
}
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
.overflow {
overflow:visible;
}
.front {
font-size:3rem;
font-weight:bolder;
padding-top:3rem
}
.subtitle{
font-size:1.5rem;
color:black;
text-decoration:none;
}
.dropbtn {
background-color: #4CAF50;
color: white;
padding: 10px;
border: none;
}
.errorcolor {
color:#ff0000
}
.moveusername {
position: absolute;
bottom: 20%;
left: 50%;
}
.top-padding {
padding-top:2rem;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
background-color: #f2f2f2;
}
.dropdown:hover .dropdown-content {
display: block;
}
.letter-space {
letter-spacing: -0.5rem;
color:black;
font-weight:bolder
} 
.row-spacing {
height:4rem;
}
.day-height {
height:150px
}
.elements-height {
height:50px
}
.center {
text-align:center
}