/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.topbar {
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
}
.center {
    text-align: center;
}
.topbar {
	padding: 1rem;
	font-size: 2rem;
	text-decoration:none;
  }
.border {
    border: 1px solid #ccc;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.letter-space {
	letter-spacing: -0.5rem;
	color:black;
	font-weight:bolder
  } 
.foot {
bottom: 0px;
position: fixed;
width: 100%;
}
