<footer>
    <div class="container-auto" style="margin-top:8rem">
      <div class="row foot" style="width:100%;">
        <div class="col-4 center" style="padding:1rem">
          <button onclick="location.href='exercise'"><img style="width:8vw; height:auto;" src="static/runningicon.png" alt="runningicon.png"></button>
        </div>
        <div class="col-4 center" style="padding:1rem">
          <button onclick="location.href='home'"><img style="width:8vw; height:auto;" src="static/homeicon.png" alt="homeicon.png"></button>
        </div>
        <div class="col-4 center " style="padding:1rem">
          <button onclick="location.href='meal'"><img style="width:8vw; height:auto;" src="static/mealicon.png" alt="mealicon.png"></button>
        </div>
      </div>
    </div>
  </footer>
  