<header>
    <div class="container-fluid border">
      <div class="row">
        <div class="col-auto">
          <a class="topbar" style="letter-spacing:-0.8rem">🧊 </a>
          <a>{{ freezes }}</a>
        </div>
        <div class="col-auto">
          <a class="topbar letter-space">🔥</a>
          <a>{{ streak }}</a>
        </div>
        <div class="col-auto">
          <a class="topbar letter-space" href="shop">💰</a>
          <a>{{ coins }}</a>
        </div>
        <div class="col-3">
          <a class="topbar" href="settings">⚙️</a>
        </div>
      </div>
    </div>
</header>