<!--
  Things to do:
    Set up graph through JS with dropdown menu
    Done
    Set up panel with diary in order of date. When it reaches end it should not alllow a button press through greying out and changing status. Should be done using onclick events to create more dynamic webpage.
    Done
    Make the page prettier
    Not done


-->



<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
    .top-padding {
        padding-top:2rem;
      }
      .topbar {
        padding: 1rem;
        font-size: 2rem;
        text-decoration:none;
      }
      .center {
        text-align:center
      }
      .foot {
        bottom: 0px;
        position: fixed;
        width: 100%;
      }
      .overflow {
        overflow:visible;
      }
      .letter-space {
        letter-spacing: -0.5rem;
        color:black;
        font-weight:bolder
      } 
      .front {
        font-size:3rem;
        font-weight:bolder;
        padding-top:3rem
      }
      .subtitle{
        font-size:1.5rem;
        color:black;
        text-decoration:none;
    }
    #btnNext{
      float:right;
    }
    #btnPrevious{
      float:left;
    }
    </style>
  </head>
  
  <title>
    FitFlow360
  </title>
  <body>
    
  <div class="container-fluid border">
      <div class="row ">
      <div class="col-auto">
          <a class="topbar letter-space">🧊 </a>
          <a class="letter-space">{{ item }}</a>
      </div>
      <div class="col-auto">
          <a class="topbar letter-space">🔥</a>
          <a class="letter-space">{{streak}}</a>
      </div>
      <div class="col-auto">
          <a class="topbar letter-space" href="shop">💰</a>
          <a class="letter-space">{{coins}}</a>
      </div>
      <div class="col-3">
          <a class="topbar" href="settings">⚙️</a>
      </div>
      </div>
  </div>
  <!--Chart-->
  <div>
      <canvas id="myChart"></canvas>
  </div>
  <div class="dropdown">
    <select id="dropdownchoice" name="dropdownchoice" id="sex" name="sex">
      <option value="Difficulty">Difficulty</option>
      <option value="Weight">Weight</option>
    </select>
    <button class="btn-outline-success" type="submit" id="DropdownChoiceSubmit">
      Submit
    </button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    var ChartDateArray = new Array()
    var ChartWeightArray = new Array()
    var ChartDifficultyArray = new Array()
    const ChartDataArray = {{ GraphData | tojson }};
    console.log(ChartDataArray)
    for (let DataArrayIndex = 0; DataArrayIndex < ChartDataArray.length; DataArrayIndex++) {
      ChartDateArray[DataArrayIndex] = ChartDataArray[DataArrayIndex].pop()
      ChartWeightArray[DataArrayIndex] = ChartDataArray[DataArrayIndex].pop()
      ChartDifficultyArray[DataArrayIndex] = ChartDataArray[DataArrayIndex].pop()
    }
    var chartElement = document.getElementById('myChart');
    const DropdownValue = dropdownchoice.value
    myChart = new Chart(chartElement, {
      type: 'line',
      data: {
        labels: ChartDateArray,
        datasets: [{
          label: DropdownValue,
          data: (DropdownValue === "Weight") ? ChartWeightArray : ChartDifficultyArray,
          borderWidth: 1
      }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    function chartGeneration (DropdownValue) {
      var chartElement = document.getElementById('myChart');
      myChart.destroy()
      myChart = new Chart(chartElement, {
        type: 'line',
        data: {
          labels: ChartDateArray,
          datasets: [{
            label: DropdownValue,
            data: (DropdownValue === "Weight") ? ChartWeightArray : ChartDifficultyArray,
            borderWidth: 1
        }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    };
    DropdownChoiceSubmit.addEventListener('click', () => chartGeneration(dropdownchoice.value))
  </script>

<!--Diary-->
  <div class="top-padding">
    <div class="container center">
      <h1 class="subtitle" for="diary" name="diary">Diary</h1><br>
      <div class="border" name="diary" id="diary" style="border-radius:10px;">
        <p1 id="DiaryDateDisplay"></p1><br>
        <p1 id="DiaryTextDisplay"></p1>
      </div>
    </div>
  </div>
  <div class="button-container " style="padding-bottom:10rem">
    <button class="btn btn-outline-primary padding" id="btnPrevious" type="submit">
      Previous
    </button>
    <button class="btn btn-outline-primary padding" id="btnNext" >
      Next
    </button>
  </div>
  <script>
    const prevBtn = document.getElementById('btnPrevious');
    const nextBtn = document.getElementById('btnNext');
    const DiaryTextElement = document.getElementById('DiaryTextDisplay');
    const DiaryDateElement = document.getElementById('DiaryDateDisplay');
    let Index = -1;

    function changeDiaryDate(direction) {
      /*
      First initialise the Diary array into an array to be used here:
      Create an index to allow access to move left and right
      Create a catch to ensure that there is no out-of-bounds error. Then just turn the index to the last date if there is one.
      */
      const DiaryDataArray = {{ DiaryData | tojson }};
      const lastitemindex = DiaryDataArray.length - 1;
      if (Index === -1) {
        Index = DiaryDataArray.length
      };
      if (direction === 'prev') {
        Index = Index - 1;
        if (Index < 0) {
          Index = lastitemindex;
        }
      } else if (direction == 'next') {
        Index = Index + 1;
        if (Index > lastitemindex) {
          Index = 0;
        };
      };
      DiaryText = DiaryDataArray[Index][0]
      DiaryDate = DiaryDataArray[Index][1]
      DiaryTextElement.innerHTML = DiaryText
      DiaryDateElement.innerHTML = DiaryDate
    }
    prevBtn.addEventListener('click', () => changeDiaryDate('prev'))
    nextBtn.addEventListener('click', () => changeDiaryDate('next'))
  </script>
  <footer>
    <div class="container">
      <div class="row mx-auto border foot" style="width:100%;">
        <div class="col-4 center" style=" padding:1rem">
          <button onclick="location.href='exercise'"><img class="border " style="width:8vw; height:auto;" src="static/runningicon.png" alt="runningicon.png" href="mealhome"></button>
        </div>
        <div  class="col-4 center" style=" padding:1rem">
          <button onclick="location.href='home'"><img class="border" style="width:8vw; height:auto;" src="static/homeicon.png" alt="homeicon.png" href="home"></button>
        </div>
        <div  class="col-4 center " style="padding:1rem">
          <button onclick="location.href='meal'"><img style="width:8vw; height:auto;" src="static/mealicon.png" alt="mealicon.png"></button>
        </div>
      </div>
    </div>
  </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>